.seller-order-page {
  background-color: #252836;
  min-height: 100vh;
}

.order-details-div {
  background-color: #1F1D2B;
  display: flex;
  justify-content: center;
}

.order-details-div > span {
  background-color: white;
  display: inline;
}

.order-details-div-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-align: center;
}

.order-details-div-header-colum {
  margin: 5px 10px;
  display: flex;
}

.order-details-div-header-colum > div {
  margin: 5px 10px;
}

.order-status {
  border-radius: 8px;
  padding: 5px 30px;
}

.order-status.pending {
  background-color: #EA7C69;
  color: #1F1D2B;
}

.order-status.preparing {
  background-color: #EACE69;
  color: #1F1D2B;
}

.order-status.transit {
  background-color: #5CFF5C;
  color: #1F1D2B;
}
